<!doctype html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <form method="POST" action="/log-in">
    <fieldset>
      <legend>Express App - Please log in</legend>

      <label htmlFor="username">Username</label>
      <input name="username" type="text" value="foo"/>

      <label htmlFor="password">Password</label>
      <input name="password" type="password" />

      <label htmlFor="remember">
        <input name="remember" type="checkbox"/> Remember me
      </label>

      <button type="submit">Sign in</button>
    </fieldset>
  </form>
</body>
</html>